
body {
	background-color: #c7c5c4;
}

#messages {

}

li a{
	text-decoration: none;
	color: yellow-green;
	line-height: 50px
	padding-right: 2px;
	display: block;
}
ul li ul li {
	display:none;
}

.hidecomments {
		display:none;
}
.hidecomments2 {
		display:none;
}

.slidedown {
	font-size: 35px
	
}
.slidedown2 {
	font-size: 35px
	
}

h1 {
	padding-top: 140px;
	position:relative;
	right: 400px;
	margin:20px;
}
#navigation{
	font-size: 20px;
}
#navigation ul li{
	list-style-type: none;
	width: 150px;
	float: left;
	color:gold;
	font-size: 30px;
}


.box {
	 float: left;
	 list-style-type: none;
	 border: 2px solid silver;
	 background-color:#54013e;
	 padding-right:792px;
	}
.line {
	border-left: 1397px solid #133D9A;
    height: 2px;
}

.subline {
	border-left: 1397px solid grey;
    height: 1px;

}

.feedbox {
	 border: 2px solid silver;
	 right:400px;
	 float: right;
	 background-color: white;
	 width: 1400px;
}

#online{
	font-size: 40px;
	padding-top: 80px;
	margin:20px;
}


	
#online {

	float: left;
}
#feed {
	padding-top: 50px;
	padding-bottom: 30px;
	position: relative;
	left:400px;
}
#messageicon {
	position: relative;
	left: 1550px;
}
#notificationicon {
	position: relative;
	left: 1200px;
}

#settings {
	position: relative;
	left: 1120px;
}







.main{
	width: 100%;
	}
.search{
	margin: 0;
	padding: 5px 10px;
	font-family: arial, helvetica, sans-serif;
	font-size: 14px;
	border: 1px solid #00763;
	border-right: 0;
	border-top-left-radius: 5px 5px;
	border-bottom-left-radius: 5px 5px;
	font-style: italic;
	height: 20px;
	}
.button{
	padding: 5px 5px;
	font-family: arial, helvetica, sans-serif;
	font-size: 14px;
	text-shadow: 0 0 1px #000;
	cursor: pointer;
	text-align: center;
	color: #fff;
	border-right: 0;
	background: linear-gradient(#00adee,#0078a5);
	border-top-right-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
	position: absolute;
	height: 32px;
	border: 1px solid #00763;


	}
.button:hover{
	background: linear-gradient(#0095cc,#00678e);
	}
.search:focus,.button:focus{
	outline:none;
	}
#search-box{
	text-align: center;
	margin-top: 50px;
	margin-left: -75px
	}
#searchposition {
	position:relative;
	right:400px;
}
